
name: Deploy static content to Pages

on:
  # 仅在推送到默认分支时运行
  push:
    branches: ['main']

  # 这个选项可以使你手动在 Action tab 页面触发工作流
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 允许一个并发部署
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # 单次部署的工作描述
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb5618c5b57e35250f57e3029bd805cb2b9ddac  # v4.1.7
      - name: Set up Node
        uses: actions/setup-node@60edb5dd545a775178f5252e99160d1ac5504cd4  # v4.0.0
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Setup Pages
        uses: actions/configure-pages@9825fb86ecb6843a6eb33dd767ff5985829d34fe  # v5.0.0
      - name: Upload artifact
        uses: actions/upload-pages-artifact@023678dfad942c6858339a79e3553ab090c47a2f  # v3.0.1
        with:
          # 上传 dist 文件夹
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@8f8dc355ede0b807fa7a432a674d66472c504ae3  # v4.0.5
